body {
   background-image:url(images/login.jpg);
    color: white;
}
input[id="data1"]:invalid{
    background-color:yellow;
}
input[id="fname"]:invalid{
    background-color: red;
}
input[id="lname"]:invalid{
    background-color: red;
}
input[id="rpw"]:invalid{
    background-color:yellow;
}
.rdis {
    border-radius: 90px;
}
.login-btn {
    margin-left: 130px;
    border-radius: 10px;
    width: 30%;
}
.search{
    background-color: chartreuse;
    color: black;
}
.login-btn:hover {
    background-color: chartreuse;
    color: white;
    transition: 0.4s;
    border-color: lemonchiffon;
}

.login-label {
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    color: white;
    margin-left: -40px;
}

.bg-form {
    padding: 40px;
}

h1 pre {
    font-size: 50px;
    font-family: serif;
    color: white;
}

.home-icon {
    padding: 20px;
    background-color: deepskyblue;
    color: white;
    text-decoration: none;
    border-radius: 90px;
}

.home-icon:hover {
    background-color: chartreuse;
    color: white;
    transition: 0.4s;
    text-decoration: none;
}

.date {
    border-radius: 90px;
    padding: 10px;
    background-color: black;
    color: wheat;
}

.login-btn {
    margin-left: 130px;
    border-radius: 10px;
    width: 30%;
}

.login-btn:hover {
    background-color: chartreuse;
    color: white;
    transition: 0.4s;
    border-color: lemonchiffon;
}

form
{
    color: azure;
}
.contactnav
{

    display:inline-block;
}
.navs
{
    margin-top:100px;
}
.home-icon { margin-left:1080px;
    margin-top: 60px;
}
.centered-form{
    margin-top: 80px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.panel-default
{
width:800px;

}
.about
{ text-align: center;
    font-family: Playbill;


}
p{
    font-family: Calibri;
  margin-left: 2px;
    margin-left: 2px;
 }
input[id="data"]:invalid{
    background-color:yellow;
}
}

.responsive
{
    padding: 80px;
    font-size: 300px;
    color: orangered;
}
.responsive:hover
{
    color: orange;
    transition: 1s;
}
.home-btn
{
padding: 30px;    
}
.style
{
    padding:10px;
    background-color:blueviolet;
    border-radius:20px;
    font-size: 20px;
    color:white;
}
